<ol class="breadcrumb">
  <li><a title="Accueil" routerLink="/" routerLinkActive="active">Accueil</a></li>
  <li><a title="Pizzas" routerLink="/pizzas" routerLinkActive="active">Pizzas</a></li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      Liste des Pizzas
      <a class="btn btn-success" title="Pizzas" routerLink="/pizzas/add" routerLinkActive="active"><i class="fa fa-plus"></i></a>
    </h1>

    <div class="row" *ngIf="listPizza && listPizza.length > 0;else empty_pizzas">
      <!-- Card Projects -->
      <div *ngFor="let pizza of listPizza" class="col-md-6 col-md-offset-3" >
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="data:image/png;base64,{{pizza.img}}">
            <span class="card-title">{{pizza.name}}</span>
          </div>

          <div class="card-content">
            <div class="row">
              <div class="col-md-6">
                <p>{{pizza.description}}</p>
                <p><b>{{pizza.price}} €</b></p>
              </div>
              <div class="col-md-6">
                <ul *ngIf="pizza.ingredients && pizza.ingredients.length > 0">
                  <li *ngFor="let ingredient of pizza.ingredients">{{ingredient.name}}</li>
                </ul>
              </div>
            </div>

          </div>

          <div class="card-action text-center">
            <a class="text-info" routerLink="{{pizza._id}}"><i class="fa fa-eye"></i> Voir</a>
            <a routerLink="update/{{pizza._id}}"><i class="fa fa-cog"></i> Modifier</a>
            <a class="text-danger"  (click)="deletePizza(pizza._id)"><i class="fa fa-trash"></i> Supprimer</a>
          </div>
        </div>
      </div>
    </div>

    <ng-template #empty_pizzas>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p><i>Il n'y a actuellement aucune pizza enregistrée...</i></p>
        </div>
      </div>
    </ng-template>

  </div>
</div>

